.header {
  padding: 20px 0 0;
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: $white;

  @media (min-width: $desktop-width) {
    padding: 30px 0 0;
  }

  .container {
    @include flex-column(stretch, center);
  }
}

.header__info {
  @include flex-row(space-between, center);

  width: 100%;
  margin-bottom: 16px;
}

.header__logo {
  display: flex;
  align-items: center;
  height: 32px;

  @media (min-width: $desktop-width) {
    height: 70px;

    margin-bottom: 0;
  }
}

.header__logo-img {
  margin-right: 16px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
