.input {
  @include input-box();
  @include input-text($grey);

  position: relative;

  &--error {
    border: $error-border;
    }
  

  &:hover {
    border: $hover-border;
  }

  &:focus {
    border: $focus-border;
  }
}

