.privacy-policy {
    font-size: 12px;

    @media (min-width: $desktop-width) {
        font-size: 14px;
    }
}

.privacy-policy__title {
    font-size: 14px;

    @media (min-width: $desktop-width) {
        font-size: 18px;
    }
}