@keyframes up-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fly-to-top {
  0% {
    transform: translate(-15px, 15px);
  }

  100% {
    transform: translate(13px, -15px);
    opacity: 0;
  }
}
